@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  position: relative;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: url("./images/main.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}
/*Normalize*/

header {
  max-width: 1300px;
  padding: 1%;
}

h1 {
  font-size: 200%;
  color: tomato;
  font-style: italic;
  font-weight: bold;
}

main {
  max-width: 1300px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: column;
  align-items: center;
}

section {
  box-sizing: border-box;
  height: 350px;
}

.card {
  height: 350px;
  display: flex;
  gap:2%;
}
.book {
  width: 360px;
}
.bookImage {
  height: 100%;
  width: 100%;

  position: relative;
}

.img {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.textblock {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  gap: 5%;
}

.title {
  color: tomato;
  font-size: 150%;
  font-weight: bold;
}

h3 {
  font-size: 125%;
  color: tomato;
}
h4 {
  font-size: 125%;
  color: tomato;
}
.buttonblock {
  font-size: 125%;
  display: flex;
  color: tomato;
  gap: 5%;
}

.buttonShow {
  color: tomato;
  background-color: white;
  padding:2%;
  border: 3px solid tomato;
  font-weight: bold;
}

.buttonAdd {
  color: tomato;
  background-color: white;
  padding:2%;
  font-weight: bold;
  border: 3px solid tomato;
}
.buttonShow:hover {
  color: black;
}

.buttonAdd:hover {
  color: black;
}