@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  position: relative;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}
/*Normalize*/

header {
  max-width: 1100px;
  padding: 3%;
}

h1 {
  font-size: 200%;
  color: black;
  font-style: italic;
  font-weight: bold;
}

main {
  max-width: 1200px;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 15px;
  flex-direction: column;
  align-items: center;
   position:relative;
  flex: 1 1 auto;
}

section {
  box-sizing: content-box;
  height: 350px;
  display: flex;
}

.card {
  height: 350px;
  display: flex;
  gap: 2%;
  background: url("./images/main.jpg");
  background-size: 100% 100%;
  padding: 2%;
  flex-basis: 100%;
  box-sizing: border-box;
}
.book {
  flex-basis: 50%;
  display: flex;
}
.bookImage {
  height: 100%;
  width: 100%;
  position: relative;
  flex-basis: 100%;
}

.img {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.textblock {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2%;
  gap: 5%;
  color: black;
  border-radius: 5%;
  flex-basis: 50%;
}

.title {
  font-size: 150%;
  font-weight: bold;
}

h3 {
  font-size: 125%;
  font-style: italic;
}
h4 {
  font-size: 125%;
  font-weight: bold;
}
.buttonblock {
  font-size: 125%;
  display: flex;
  color: tomato;
  gap: 5%;
}

.buttonShow {
  color: tomato;
  background-color: white;
  padding: 2%;
  border: 3px solid tomato;
  font-weight: bold;
}

.buttonAdd {
  color: tomato;
  background-color: white;
  padding: 2%;
  font-weight: bold;
  border: 3px solid tomato;
}
.buttonShow:hover {
  color: black;
}

.buttonAdd:hover {
  color: black;
}

footer {
  max-width: 1200px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rsImage {
  height: 50px;
}

.year {
  display: flex;
  align-items: center;
}

.yeartext {
  font-size: 200%;
  font-weight: bold;
  font-style: italic;
}

.popup {
  display: none;
}

.popup.open {
  max-width: 60%;
  position: fixed;
  z-index: 4;
  display: block;
  left: 25%;
  top: 25%;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid tomato;
  border-radius: 5px;
  padding: 10px;
}

.overlay {
  display: none;
}

.overlay.open {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: block;
}
.popuptext {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popupTitle {
  align-self: center;
  font-size: 125%;
  font-weight: bold;
}
.popupDescription {
  font-style: italic;
}

.popupClose {
  align-self: end;
  cursor: pointer;
  width: 25px;
  height: 25px;
}


.bag {
width: 15%;
position:fixed;
z-index:3;
background-color: tomato;
left:83%;
top:3%;
border: 2px solid white;
border-radius: 5px;
cursor:pointer;
padding: 5px;
}

.bagContainer {
display: flex;
flex-direction:column;
gap: 10px;
color: white;
font-weight:bold;

}

.bagTitle {
font-weight:bold;
}

.bagAmountOfBooks {
 font-style: italic;
display:flex;
gap: 5px;

}

.amountOfBooksText {
 font-style: italic;

}

.amountOfBooksDigit {
 font-style: italic;
}

.bagPrice {
 display: flex;
gap: 5px;

}

.bagPriceText {
}



.bagPriceAmount {
}

.hiddenBag  {
width: 25%;
position:fixed;
z-index:3;
background-color: tomato;
left:80%;
top:25%;
display:flex;
flex-direction: column;
cursor:pointer;
padding: 5px;
gap: 30px;
color: white;
font-weight:bold;
display:none;

}

.booksList {
display:flex;
gap: 30px;
}

.bagButtonBlock {
display:flex;
gap: 30px;

}

.confirmOrder {
padding: 5px;
background-color: white;
border: 2px solid black;
border-radius: 5px;
font-weight:bold;

}


.clearAll {
padding: 5px;
background-color: white;
border: 2px solid black;
border-radius: 5px;
font-weight:bold;

}

.confirmOrder:hover {
  color: tomato;

}

.clearAll:hover {
  color: tomato;

}

